<% provide(:title, "Group") %>
<div id="group">
  <h1 class="group">
    <div class="group-name">
      <%= @group.group_name %>
    </div>
    <div class="leave-group">
        <%= link_to "退会する", user_group_path(current_user.user_group(@group).id), method: :delete %>
    </div>
    <div class="group-image">
      <%=  render "shared/image", object: @group %>
    </div>
  </h1>

  <div class="my-name">
    <div class="profile-wrap">
      <%= render_to_profile(current_user) %>
    </div>
  </div>
  <div class="group-members">
    <% @users.each do |user| %>
    <div class="profile-wrap">
      <% user_room = @group.user_groups.find_by(user_id: user) %>
      <%= render_to_profile(user) if !current_user?(user) && user_room.activated? %>
    </div>
    <% end %>
  </div>

  <div class="group-room-link">
    <% if @room.nil? %>
    <%= render "rooms/group_room_form" %>
    <% else %>
    <%= link_to "TALK", room_path(@room) %>
    <% end %>
  </div>

  <div class="inviting-member">
    <p>招待中のユーザー</p>
    <% @users.each do |user| %>
    <div class="profile-wrap">
      <% user_room = @group.user_groups.find_by(user_id: user) %>
      <%= render_to_profile(user) unless current_user?(user) || user_room.activated %>
    </div>
    <% end %>
  </div>
</div>
