<div class="group-name">
  <%= @group.group_name %>
</div>

<div class="my-name">
  <%= link_to current_user.name, current_user %>
</div>

<div class="group-members">
  <% @users.each do |user| %>
  <div class="group-member">
    <% unless current_user?(user) %>
      <%= link_to user.name, user %>
    <% end %>
  </div>
  <% end %>
</div>

<div class="group-room-link">
  <% if @room.nil? %>
    <%= render "rooms/group_room_form" %>
  <% else %>
    <%= link_to "TALK", room_path(@room) %>
  <% end %>
</div>
