<% provide(:title, "Group") %>
<div id="group">
  <h1 class="group">
    <div class="group-name">
      <%= @group.group_name %>
    </div>
    <div class="group-image">
      <%=  render "shared/image", object: @group %>
    </div>
  </h1>

  <div class="my-name">
    <div class="profile-wrap">
      <%= render_to_profile(current_user) %>
    </div>
  </div>

  <div class="group-members">
    <% @users.each do |user| %>
    <div class="profile-wrap">
      <% unless current_user?(user) %>
      <%= render_to_profile(user) %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="group-room-link">
    <% if @room.nil? %>
    <%= render "rooms/group_room_form" %>
    <% else %>
    <%= link_to "TALK", room_path(@room) %>
    <% end %>
  </div>
</div>
