<h1 class="room-title">
  <% if !@room.group.nil? %>
    <%= link_to @room.group.group_name, group_path(@room.group.id) %>
  <% else %>
    <% @user_rooms.each do |user_room| %>
      <% if user_room.user != current_user %>
        <%= link_to user_room.user.name, user_room.user %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "消去", room_path(@room.id), method: :delete , class: "room-delete-link"%>

</h1>

<div id="message-container", data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>


<div id="chat-footer">
  <%= render 'chat_footer' %>
</div>
