<% provide(:title, "Chat-room") %>
<div class="chat-room">
  <div class="room-title">
    <div class="profile-wrap">
      <%= room_title(@room, @user_rooms) %>
    </div>
    <%= link_to "消去", room_path(@room.id), method: :delete , class: "room-delete-link"%>
  </div>

  <div id="message-container", data-room_id="<%= @room.id %>">
    <%= render @messages %>
  </div>

  <div id="chat-footer">
    <%= render 'chat_footer' %>
  </div>
</div>
