<header class='<%= controller.controller_name %>'>
  <div class="nav">
    <ul>
      <% if logged_in? %>
        <li><%= link_to "TOP", top_user_path(current_user) %></li>
        <li><%= link_to "BOARD", boards_path %></li>
        <li><%= link_to "CHAT", rooms_path %></li>
        <li><%= link_to "通知", notifications_path %></li>
        <li class="log"><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li class="log"><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
